.todo{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
}
.todo-inputs{
    border: 0;
    outline: 0;
}
.todo-inputs-div{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#textarea{
    display: none;

}
.todo-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.todo-card-p{
    text-align: justify;
    text-justify: inter-word;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis;
}
.todo-card-t{
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis;
}
.card-icons{
    font-size: 20px;
    cursor: pointer;
}
.del{
    color: red;
}
.card-icon-head{
    cursor: pointer;
    transition: all 0.3s;
}
.card-icon-head:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   
}
